
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: freeky,'Times New Roman', Times, serif;
}
@font-face {
    font-family: freeky;
    src: url(./Figtree-VariableFont_wght.ttf);
}
.right{
    background-image: url('./images/bg-intro-desktop.svg');
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.images{
    width: 300px;
    padding-left: 10%;
}
.service{
    background-color: hsl(0, 0%, 98%);
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    justify-content:center;
}
.contact >p{
    width: 80%;
}